@model Calendarro.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Calendarro";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="row" id="responsive-div">
        <div class="column" style="border-right: 5px solid dimgray">
            <div class="boards">
                @if (Model.KanbanWithTasks?.Count() == 0)
                {
                    <partial name="_NoKanban" />
                }
                else
                {
                    @foreach (var kanban in Model.KanbanWithTasks)
                    {
                        <div class="sqr">
                            <div class="kanban-top row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <div class="title">
                                        @kanban.Kanban.Name
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="dropdown">
                                        <button class="kanbandropbtn">...</button>
                                        <div class="kanbandrop-content">
                                            @*<a href="#">Dodaj zadanie</a>*@

                                            <form method="post" asp-action="RemoveKanban" asp-controller="Home">
                                                <input type="hidden" name="kanbanId" value="@kanban.Kanban.KanbanId" />
                                                <button class="btn" type="submit" id="deleteKanban">Usuń kanban</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                @foreach (var task in kanban.Tasks)
                                {
                                    <div class="row taskRow">
                                        <form method="post" asp-action="RemoveTaskFromKanban" asp-controller="Home">
                                            <input type="hidden" name="taskId" value="@task.TaskId" />
                                            @*<button class="w-100 bg-transparent" type="submit" id="deleteTask">-</button>*@
                                            <button type="submit" class="close" aria-label="Close" id="deleteTask">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </form>

                                        <button class="taskButton btnOpenModal" data-toggle="modal" data-target="#MoveTaskToKanban" data-taskId="@task.TaskId">
                                            @task.TaskName
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <partial name="_AddTaskByCalendarModal" model="Model.AddNewTaskViewModel" />
        </div>
        <div class="column" style="border-left: 5px solid dimgray">


            <div class="container" id="calendarContainer">

                <div>
                    <button class="btn btn-outline-primary" id="calendaView-1">1</button>
                    <button class="btn btn-outline-primary" id="calendaView-3">3</button>
                    <button class="btn btn-outline-primary" id="calendaView-6">6</button>
                </div>
                <div id="singleView">
                    <partial name="_CalendarView1" />
                </div>

                <div id="trippleView" style="display:none">
                    <partial name="_CalendarView3" />
                </div>

                <div id="hexagonalView" style="display:none">
                    <partial name="_CalendarView6" />
                </div>

            </div>

            <partial name="_AddTaskByCalendarModal" model="Model.AddNewTaskViewModel" />
            <partial name="_MoveTaskToKanbanModal" model="Model.AddNewTaskViewModel" />

        </div>
    </div>
</body>


@section Scripts{

    <link href="~/lib/fullcalendar/main.min.css" rel="stylesheet" />

    <script src="~/lib/fullcalendar/main.min.js"></script>

    <script type="text/javascript">
        _projId = @ViewBag.ProjectIdForGenerateTasks;
    </script>

    <script src="~/js/calendarMonthGenerator.js"></script>
    <script src="~/js/calendarViewSingle.js"></script>
    <script src="~/js/calendarViewTripple.js"></script>
    <script src="~/js/calendarViewHexagonal.js"></script>
    <script src="~/js/buttonViewChanger.js"></script>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>
        function validateInputForm() {
            var el = document.getElementById('taskname').value;
            var el2 = document.getElementById('kanban-name').value;

            let a = true;

            if (el2 == '') {
                a = false;
            }

            if (el.length > 4 && a) {
                var btn = document.getElementById('submitNewTask');
                btn.disabled = false;
            } else {
                var btn = document.getElementById('submitNewTask');
                btn.disabled = true;
            }
        }
    </script>

    <script>
        var validateKanbanForm = () => {
            var element = document.getElementById('kanbanName').value;

            var btn = document.getElementById('submitNewKanban');

            if (element.length > 0) {
                btn.disabled = false;
            }
            else {
                btn.disabled = true;
            }
        }
    </script>

    <script>
        $(".btnOpenModal").click(function () {
            var ids = $(this).attr('data-taskId');
            $("#taskId").val(ids);
            $('#MoveTaskToKanban').modal('show');
        });
    </script>
}